header {
  div {
    color: $w;
    text-align: center;
    height: 55vw;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../public/digital_camera.jpg") no-repeat;
    background-size: cover;
    background-clip: border-box;
    @include flex(center, center);
    flex-direction: column;
    gap: 1rem;
    h1 {
      font-size: 5vw;
    }
    q {
      font-size: 3vw;
      font-style: italic;
    }
  }
}

main {
  margin: 1.5rem 0 4rem;
  .actualite {
    margin: 0 auto;
    @include flex(center, center);
    flex-direction: column;
    gap: 1.5rem;
    article {
      width: 90%;
      background-color: $primary;
      border-radius: 0.3rem;
      .content_article {
        position: relative;
        img {
          width: 100%;
          height: 55vw;
          background-color: $secondary;
          border-radius: 0.2rem;
          border: solid 1px;
        }
        .title_time {
          position: absolute;
          bottom: 0.2rem;
          color: $w;
          font-size: 0.7rem;
          width: 100%;
          background: linear-gradient(0deg, $b 0%, rgba(0, 0, 0, 0) 100%);
          padding: 0.8rem;
          border-bottom-left-radius: 0.2rem;
          border-bottom-right-radius: 0.2rem;
          @include flex(end, end);
          flex-direction: column;
          gap: 0.3rem;
        }
      }
      p {
        padding: 1rem;
        width: 100%;
        height: 35vh;
        overflow: hidden auto;
      }
    }
    a {
      text-decoration: underline;
    }
  }

  .activiter {
    margin: 3rem 0 4rem;
    width: 100%;
    background-color: $primary;
    padding: 1rem 2rem;
    @include flex(start, center);
    flex-direction: column;
    article {
      z-index: 0;
      margin: 1rem 0;
      text-align: center;
      @include flex(space-around, start);
      flex-direction: column;
      gap: 1rem;
      .content_carrousel {
        position: relative;
        width: fit-content;
        img {
          width: 100vh;
          height: 45vw;
          border: solid 1px;
          border-radius: 0.3rem;
        }
        .arrows {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          @include flex(space-between, center);
          button {
            margin: 0 3%;
            background-color: $ba;
            width: 2.5rem;
            height: 2.5rem;
            border: solid 1px $dw;
            border-radius: 50%;
            @include flex(center, center);
            i {
              filter: brightness(0) saturate(100%) invert(81%) sepia(65%)
                saturate(1%) hue-rotate(355deg) brightness(99%) contrast(90%);
            }
          }
        }
      }
      .content_title_description {
        h2 {
          margin-bottom: 1rem;
        }
      }
    }
  }
  .more_info {
    @include flex(center, center);
    a {
      font-size: 1.5rem;
      font-weight: bold;
      user-select: none;
      background-color: $secondary;
      padding: 1rem 1.5rem;
      border-radius: 0.2rem;
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    .actualite {
      width: 85%;
      article {
        .content_article {
          img {
            height: 25rem;
          }
          .title_time {
            font-size: 1rem;
          }
        }
        p {
          height: auto;
        }
      }
    }
    .activiter article {
      flex-direction: row;
      .content_carrousel {
        img {
          width: 25rem;
          height: 15rem;
        }
      }
      .content_title_description {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 1040px) {
  header div {
    height: 90vh;
    h1 {
      font-size: 3.5rem;
    }
    q {
      font-size: 1.5rem;
    }
  }
  main {
    .actualite {
      width: 75%;
      article .content_article {
        img {
          height: 33rem;
        }
        .title_time {
          padding: 1.2rem;
          font-size: 1.3rem;
        }
      }
      p {
        font-size: 1.2rem;
      }
      a {
        font-size: 1.3rem;
      }
    }
    .activiter article .content_carrousel {
      img {
        width: 35rem;
        height: 20rem;
      }
      .arrows button {
        width: 3rem;
        height: 3rem;
      }
    }
    .content_title_description {
      h2 {
        font-size: 2rem;
      }
      p {
        margin-top: 2rem;
        font-size: 1.2rem;
      }
    }
    .more_info a {
      font-size: 2rem;
    }
  }
}
